<ul class="collection with-header">
    <li class="collection-header">
        <h4 class="my-1">Elija una de las siguientes opciones:</h4>
    </li>
    <a href="#" onclick="IrA(6);" class="collection-item">Tomas tus llaves, celular, copia impresa de tu CV y sales de tu casa. No llevas pilas de repuesto ni el control, porque sabes que no serán necesarios.</a>
    <a href="#" onclick="IrA(7);" class="collection-item">Verificas que tienes pilas de repuesto para tu prótesis auditiva y llevas el control del dispositivo. Tomas tus llaves, celular, copia impresa de tu CV y  sales de tu casa.</a>
    <a href="#" onclick="volver();" class="collection-item">Volver a mirar el vídeo</a>
</ul>