<ul class="collection with-header">
    <li class="collection-header">
        <h4 class="my-1">Elija una de las siguientes opciones:</h4>
    </li>
    <a href="#" onclick="IrA(2);" class="collection-item">Encantada. Estoy manejando, pero aguarde un segundo que mi acompañante me ayudará en esta comunicación. </a>
    <a href="#" onclick="IrA(3);" class="collection-item">Perdón ¿puede repetir?</a>
    <a href="#" onclick="IrA(4);" class="collection-item">Sí, pero en este momento no la puedo atender. ¿Podría llamar en unos minutos?</a>
    <a href="#" onclick="volver();" class="collection-item">Volver a mirar el vídeo</a>
</ul>