<h2>Autoevaluación finalizada</h2>

<div id="contenido_etapa" class="texto_page">

    <div class="row">

        <div class="col m10 offset-m1">

            <article class="card-panel white">

                <!-- Mi nota -->

                <div class="text-flow">
                    Actividades Correctas:<span id="correctas"></span>/7
                </div>
                <div class="card-panel red" hidden id="recomendacion">
                </div>

                <!-- Formulario de experiencia -->

                <p>Falta formulario</p>

                <!-- Botones para finalizar -->

                <div class="right-align">
                    <a class="btn waves-effect white grey-text darken-text-2" href="?page=autoevaluacion">Volver a
                        intentar</a>
                </div>

            </article>

        </div>

    </div>

</div>