<h2>El lenguaje corporal no miente</h2>

<div class="texto_page" id="contenido_etapa">

    <!--Introduccion Etapa 3 -->

    <p>Como hipoacúsicos hemos desarrollado inconscientemente tanto la lectura labial como la del cuerpo.</p>
    <p>En la entrevista el seleccionador entrenado también puede ,
        gracias al contacto personal cara a cara o a través de video conferencia , obtener
        información muy útil y veraz sobre ti, el postulante al puesto, según tu lenguaje verbal y
        corporal .</p>
    <p>Visita el siguiente sitio web haciendo clic en este <a
            onclick="window.open('https://www.pagepersonnel.es/advice/candidatos/la-entrevista/uso-correcto-del-lenguaje-corporal-en-una-entrevista','Sitio web','status=yes,width=600,height=400,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-200)+'');return false;"
            href="https://www.pagepersonnel.es/advice/candidatos/la-entrevista/uso-correcto-del-lenguaje-corporal-en-una-entrevista">enlace.</a>
        Al hacer clic, se abrirá una ventana emergente que podrás maximizar y luego minimizar o cerrar al finalizar
        la lectura.</p>
    <p>Lee las sugerencias que presenta el artículo en el sitio web con <strong>atención</strong> .</p>
    <p>Estas sugerencias te ayudarán a acompañar eficazmente lo que digas con tu lenguaje corporal y gestos.
        <br /><br />Practica frente a un espejo, estudia tus
        posturas y haz los cambios que te sugiere este sitio web.</p>

    <!-- Actividad 1 : Verdadero o Falso -->

    <div class="card-panel red lighten-3">

        <h3>Pregunta Verdadero-Falso</h3>

        <p>Leé con atención y decidí si estas afirmaciones son verdaderas o falsas</p>

        <form id="formulario_vof2">

            <!-- Pregunta 1 -->

            <h5>Pregunta 1</h5>
            <div>
                <p>
                    En el primer encuentro genera empatía un largo y fuerte apretón de manos.
                </p>
            </div>
            <p>
                <label>
                    <input name="pregunta1" id="vof2_true_1" type="radio" value="1" checked />
                    <span>VERDADERO</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="pregunta1" id="vof2_false_1" type="radio" value="0" />
                    <span>FALSO</span>
                </label>
            </p>

            <!-- Pregunta 2 -->

            <h5>Pregunta 2</h5>
            <div>
                <p>
                    Debes intentar mirar al entrevistador directamente a sus ojos.
                </p>
            </div>
            <p>
                <label>
                    <input name="pregunta2" id="vof2_true_2" type="radio" value="1" checked>
                    <span>VERDADERO</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="pregunta2" id="vof2_false_2" type="radio" value="0" />
                    <span>FALSO</span>
                </label>
            </p>

            <!-- Pregunta 3 -->

            <h5>Pregunta 3</h5>
            <p>
                Es aconsejable sentarse derecho y relajado un poco al borde de la silla para demostrarle interés al
                entrevistador, pero sobre todo no te sientes en la silla excesivamente rígido, como paralizado.
            </p>
            <p>
                <label>
                    <input name="pregunta3" id="vof2_true_3" type="radio" value="1" checked>
                    <span>VERDADERO</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="pregunta3" id="vof2_false_3" type="radio" value="0" />
                    <span>FALSO</span>
                </label>
            </p>

            <!-- Pregunta 4 -->

            <h5>Pregunta 4</h5>
            <div>
                <p>
                    Evita usar tus manos al hablar para que tus palabras sean lo que llame la atención a tu
                    entrevistador.
                </p>
            </div>
            <p>
                <label>
                    <input name="pregunta4" id="vof2_true_4" type="radio" value="1" checked>
                    <span>VERDADERO</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="pregunta4" id="vof2_false_4" type="radio" value="0" />
                    <span>FALSO</span>
                </label>
            </p>

            <input name="etapa" type="hidden" value="3">

            <input name="actividad" type="hidden" value="1">

        </form>

        <div id="vof2_button" class="right-align">
            <a class="waves-effect waves-light btn" onclick="enviar_respuesta('vof2','vof');">Comprobar</a>
        </div>

        <div hidden id="vof2_respuesta" class="card-panel">
        </div>

    </div>

    <p>Consejo</p>
    <p>⇒ Si tu prótesis auditiva comienza a indicarte que la pila o batería se acaba durante
        la entrevista, no te muestres inquieto, incómodo o nervioso. Informa a tu entrevistador
        lo que te ocurre. Pide amablemente interrumpir unos segundos la entrevista para cambiar
        la pila o batería con tranquilidad.
    </p>

</div>