<h2>Llegó el momento!</h2>

<div id="contenido_etapa" class="texto_page">

    <!-- Introduccion Etapa 7 -->

    <div class="row">
        <div class="col l4 m12 s12 center-align">
            <img src="img/acuerdo.jpg" alt="Imagen de dos personas llegando a un acuerdo" class="responsive-img" />
        </div>
        <div class="col l8 m12 s12">
            <p>Bien, todo listo! Sólo nos
                queda decirte que tengas la seguridad de ser un candidato válido porque te has formado y
                capacitado. No eres inútil sino una persona con una situación auditiva diferente. Da a
                conocer tu situación y siéntete orgulloso de tus esfuerzos. </br>
                <br>
                Tus logros serán inspiradores para otras personas con hipoacusia. <br />
                Te deseamos el mejor de los éxitos.
            </p>
        </div>
    </div>

</div>