<h2>Aprendemos a negociar</h2>

<div class="texto_page" id="contenido_etapa">

    <!--Introduccion Etapa 5 -->

    <div class="row">
        <div class="col l4 m12 s12 center-align">
            <img alt="Personas negociando" src="img/negociar.jpg" class="responsive-img" />
        </div>
        <div class="col l8 m12 s12">
            <p>
                Cuando estás durante el proceso de selección para una vacante laboral, es importante saber  cómo
                negociar
                ciertos aspectos en la oferta de trabajo para dejar claras todas las cosas antes de
                empezar a trabajar para esa compañía.
            </p>
        </div>
    </div>

    <p>
        Ten en cuenta estos puntos
        claves que presentamos a continuación, ya que todo lo que se pacte antes de firmar
        el contrato no será fácil modificarlo en el futuro.
    </p>

    <!-- Actividad 1 : Apropiada o no ? -->

    <div class="card-panel red lighten-3">

        <h3>¿Apropiado o no?</h3>

        <p>Lee con atención las situación y tilda "verdadero" lo que te parece apropiado o tilda "falso" lo que no.</p>

        <form id="formulario_vof3">

            <!-- Pregunta 1 -->

            <h5>Pregunta 1</h5>
            <div>
                <p>
                    Solo te importa cuánto puedas obtener cuánto vas a ganar.
                </p>
            </div>
            <p>
                <label>
                    <input name="pregunta1" id="vof3_true_1" type="radio" value="1" checked />
                    <span>VERDADERO</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="pregunta1" id="vof3_false_1" type="radio" value="0" />
                    <span>FALSO</span>
                </label>
            </p>

            <!-- Pregunta 2 -->

            <h5>Pregunta 2</h5>
            <div>
                <p>
                    Preguntas cuál será exactamente tu horario y el lugar de trabajo.
                </p>
            </div>
            <p>
                <label>
                    <input name="pregunta2" id="vof3_true_2" type="radio" value="1" checked>
                    <span>VERDADERO</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="pregunta2" id="vof3_false_2" type="radio" value="0" />
                    <span>FALSO</span>
                </label>
            </p>

            <!-- Pregunta 3 -->

            <h5>Pregunta 3</h5>
            <p>
                Evitas los silencios en la negociación porque demuestra debilidad.
            </p>
            <p>
                <label>
                    <input name="pregunta3" id="vof3_true_3" type="radio" value="1" checked>
                    <span>VERDADERO</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="pregunta3" id="vof3_false_3" type="radio" value="0" />
                    <span>FALSO</span>
                </label>
            </p>

            <!-- Pregunta 4 -->

            <h5>Pregunta 4</h5>
            <div>
                <p>
                    Quieres $35,000 pero lo mejor que pueden ofrecer es $28,000. Haces una contraoferta de $30,000.
                </p>
            </div>
            <p>
                <label>
                    <input name="pregunta4" id="vof3_true_4" type="radio" value="1" checked>
                    <span>VERDADERO</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="pregunta4" id="vof3_false_4" type="radio" value="0" />
                    <span>FALSO</span>
                </label>
            </p>

            <input name="etapa" type="hidden" value="5">

            <input name="actividad" type="hidden" value="1">

        </form>

        <div id="vof3_button" class="right-align">
            <a class="waves-effect waves-light btn"
                onclick="enviar_respuesta('vof3','vof');">Comprobar</a>
        </div>

        <div hidden id="vof3_respuesta" class="card-panel">
        </div>

    </div>

</div>