<h2>Preparate para ser un ganador</h2>

<div
    class="texto_page" id="contenido_etapa">

    <!--Introduccion Etapa 2 -->

    <p>
        Muchas personas llegan a una entrevista sin planificación, lo que es un grave error. Aunque no sabemos qué cosas
        en específico nos van a preguntar, sí es posible prepararnos para transmitir
        seguridad y confianza al responder las preguntas y tener bajo control la situación.
        ¿Cómo hacerlo?
    </p>
    <p>
        Prepara la entrevista previamente para que cuando llegue el momento, muestres lo mejor de tí. Obviamente
        no existe una fórmula exacta sobre qué hacer durante la entrevista de trabajo para
        conseguir un empleo; sin embargo, sí es posible enfocarse en ciertos aspectos que
        ayudan a salir bien librado de esta situación.
    </p>
    <p>
        Si uno es <strong>hipoacúsico</strong>, no hay porqué ocultarlo para intentar caer bien.
        Cuando se intenta mostrar algo que no es, nos descubrirán fácilmente y esto puede
        jugarnos en contra cuando el entrevistador decida si somos aptos o no para el
        puesto. Por esta razón, lo primero que tienes que hacer es <strong>informar</strong>
        a tu entrevistador que usas una<strong> prótesis auditiva</strong>
        y le pides amablemente que te hable pausado y de frente sin taparse la boca. También le aclaras
        que tu prótesis es eficaz pero que tal vez le pidas que te repita alguna pregunta
        porque no la entendiste. Esto le puede pasar también a un oyente.
    </p>
    <p>
        Aquí te dejamos un video para que prestes atención a las
        sugerencias (El video tiene audio de música).
    </p>

    <div class="video-container">
        <iframe width="853" height="480" src="https://www.youtube-nocookie.com/embed/MZA4jWcE56o" frameborder="0" allowfullscreen></iframe>
    </div>

    <!-- Actividad 1 : Rellenar huecos -->

    <div class="card-panel blue lighten-4">

        <h3>Rellenar huecos</h3>
    
        <p>
            En base al video que has visto, lee el párrafo que aparece abajo y complete las
            palabras que faltan. Si no sabes qué poner en los espacios en blanco, vuelve a
            ver el video. Esta vez con más atención o tomando nota.
        </p>

        <form id="formulario_rellenar" autocomplete="off">

            <p>
                Antes de presentarte a la entrevista, busca
                <input name="rellenar_1" id="rellenar_1" class="center-align" placeholder="completar" type="text" style="width:8em;font-size:20px" maxlength="20"/>
                sobre la empresa. Durante la entrevista responde al entrevistador de
                manera
                <input name="rellenar_2" id="rellenar_2" class="center-align" placeholder="completar" type="text" style="width:8em;font-size:20px" maxlength="20"/>
                , clara y concisa . Muéstrate amable, sonriente y
                <input name="rellenar_3" id="rellenar_3" class="center-align" placeholder="completar" type="text" style="width:8em;font-size:20px" maxlength="20"/>
                . Destaca tus virtudes y logros
                <input name="rellenar_4" id="rellenar_4" class="center-align" placeholder="completar" type="text" style="width:8em;font-size:20px" maxlength="20"/>
                . Desde ya, demuestra que tienes interés por ser parte de la
                <input name="rellenar_5" id="rellenar_5" class="center-align" placeholder="completar" type="text" style="width:8em;font-size:20px" maxlength="20"/>                                     
                . 
            </p>

            <input name="etapa" type="hidden" value="2">
            
            <input name="actividad" type="hidden" value="1">
                                                            
        </form>

        <div id="rellenar_button" class="right-align">
            <a class="waves-effect waves-light btn" onclick="enviar_respuesta('rellenar','rellenar');">Comprobar</a>
        </div>

        <div hidden id="rellenar_respuesta" class="card-panel">
        </div>
        
    </div>

</div>
