<h2>Repasemos</h2>

<div id="contenido_etapa" class="texto_page">

    <!-- Introduccion Etapa 6 -->

    <div class="row">
        <div class="col l4 m12 s12 center-align">
            <img src="img/final.png" alt="Imagen que indica la finalizacion de la autoevaluacion"
                class="responsive-img" />
        </div>
        <div class="col l8 m12 s12">
            <p>Ya hemos llegado al final
                de nuestro simulador. Además de tus conocimientos, tienes muchas herramientas para
                ir seguro a tu entrevista de trabajo pero repasemos algunos aspectos que son propios
                de la situación auditiva:</br>
                <br>
                ⇒ Te sugerimos realizar una revisión del estado de tu oído y de tu prótesis auditiva con la debida
                anterioridad a la entrevista para
                que verifiquen que está todo en orden: canal limpio de cera, spaghetti en
                condiciones, etc.<br />
                ⇒ Recuerda también levar pilas de repuesto, control de
                volumen o programa si es que tienes uno. <br /><br />
                A continuación te compartimos un sitio web en el que podrás
                repasar los puntos hasta ahora vistos.

            </p>
        </div>
    </div>

    <iframe src="https://aulacm.com/consejos-hacer-entrevista-de-trabajo/" width="600" height="500"
        style="width:100%"></iframe>

</div>