<h2>¡Tienes un minuto!</h2>

<div class="texto_page" id="contenido_etapa">

    <!--Introduccion Etapa 4 -->

    <p>Hay un elemento clave que debes desarrollar para tu entrevista laboral.</p>

    <p>¿Conoces el término"<em>Elevator Pitch</em>"?</p>

    <p>A continuación te dejamos un video explicativo.</p>

    <p>
        En esta sección hemos incluído videos con buenos audios y que te  ofrecen  la
        opción de ver el subtitulado en caso de que no comprendas muy bien el audio.
        Igualmente, te recomendamos utilizar auriculares de copa para una mejor audición
        o si no deseas incomodar a las personas que están a tu alrededor.<br />Recuerda
        que puedes ver el video tantas veces como lo necesites para tu
        comprensión.
    </p>

    <p>Aquí está el primero que enumera los pasos para desarrollar tu propio "<em>Elevator Pitch</em>" .</p>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uv357YzY7-k" frameborder="0"
            allowfullscreen></iframe>
    </div>

    <p>
        A continuación tienes una actividad para poner en orden los 7 pasos que se han mencionado en el video anterior
        para
        hacer una presentación correcta. Lee con atención los ítems y luego haz clic con el
        botón izquierdo del mouse sobre uno y sin soltar el botón arrástralo hasta la
        posición que consideres adecuada.
    </p>

    <p>Finalmente haz click en le botón "comprobar" para obtener el resultado.</p>

    <!-- Actividad 1 : Lista desordenada -->

    <div class="card-panel blue lighten-4">

        <h3>Lista desordenada</h3>

        <p>Luego de haber mirado con atención al
            video,te pedimos que pongas los pasos para desarrollar tu elevator pitch en
            el orden correcto.</p>

        <ul class="collection" id="sortable">
            <a id="orden_3" data-hidden="3" class="collection-item" onclick="seleccionar_ordenar(3)">Dí una
                afirmación sorprendente o haz una pregunta</a>
            <a id="orden_5" data-hidden="5" class="collection-item" onclick="seleccionar_ordenar(5)">Cuenta
                quién eres y qué haces</a>
            <a id="orden_1" data-hidden="1" class="collection-item" onclick="seleccionar_ordenar(1)">Enumera
                qué problemas o necesidades cubres</a>
            <a id="orden_2" data-hidden="2" class="collection-item"
                onclick="seleccionar_ordenar(2);">Menciona las soluciones que aportas</a>
            <a id="orden_4" data-hidden="4" class="collection-item" onclick="seleccionar_ordenar(4)">Revela
                qué beneficio obtiene la gente contigo</a>
            <a id="orden_7" data-hidden="7" class="collection-item"
                onclick="seleccionar_ordenar(7);">Sustenta tu afirmación de que eres la persona adecuada</a>
            <a id="orden_6" data-hidden="6" class="collection-item" onclick="seleccionar_ordenar(6);">Llamas
                a la acción por parte de quien te escucha</a>

        </ul>

        <div id="ordenar_button" class="right-align">
            <a class="waves-effect waves-light btn"
                onclick="enviar_respuesta_ordenar(7,'respuesta_lista');">Comprobar</a>
            <a class="waves-effect waves-light btn" onclick="arriba();"><i
                    class="material-icons">keyboard_arrow_up</i></a>
            <a class="waves-effect waves-light btn" onclick="abajo();"><i
                    class="material-icons">keyboard_arrow_down</i></a>
        </div>

        <div hidden id="ordenar_respuesta" class="card-panel">
        </div>

    </div>

    <!--

        Respuestas:

        ¡Correcto!Has prestado atención al video. 

        No es correcto.Vuelve a ver el video y revisa tu respuesta.
        
    -->

    <p>
        Ejemplo<br>
        Presta atención al discurso de cada uno de los postulantes, su tono de voz y gestos. Toma
        lo más positivo de cada uno e impleméntalo en tu presentación.
    </p>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fBZG8PrKI40" frameborder="0"
            allowfullscreen></iframe>
    </div>

    <p>Segundo Ejemplo</p>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2b3xG_YjgvI" frameborder="0"
            allowfullscreen></iframe>
    </div>

    <p>Tercer Ejemplo</p>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9Bg1CYy6an8" frameborder="0"
            allowfullscreen></iframe>
    </div>

</div>