{% extends "base.twig" %}

{% block content %}

    <div class="container">

        <div class="col s12 valign-wrapper altura_500">

            <div class="col s3 right-align margin-right_30">
                <i class="large material-icons">check</i>
            </div>

            <div class="col s9 left-align">
                <h3>Su contraseña fue cambiada exitosamente</h3>
                <p>Si desea modificarla,inicie sesion y edite su perfil dentro del panel de opciones.<br> 
                <a href="index.php">Iniciar Sesion</a>

            </div>

        </div>

    </div>

{% endblock %}