{% extends "base.twig" %}

{% block content %}

    <div class="container">

        <div class="col s12 valign-wrapper altura_500">

            <div class="col s3 right-align margin-right_30">
                <i class="large material-icons">check</i>
            </div>

            <div class="col s9 left-align">
                <h3>Su cuenta ya esta activada</h3>
                <p>Ahora puede iniciar sesión sin ningun problema.<br> 
                <a href="controller/cerrar_sesion.php">Iniciar Sesion</a>

            </div>

        </div>

    </div>

{% endblock %}