{% extends "base_usuario.twig" %}

{% block head %}

    {{ parent() }}

    {# Utilizo el estilo JQuery UI #}
    <link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content_title %}AUTOEVALUACIÓN
{% endblock %}

{% block content %}

    <div class="row mb-0">
        <div class="col s6 left-align mt-1 mb-2">
            <a class="btn waves-effect" id="last">Reanudar</a>
        </div>
    </div>

    <nav>
        <div class="nav-wrapper">
            <div class="col s12 center-align breadcrumb_settings" id="breadcrumb_autoevaluacion"></div>
        </div>
    </nav>

    <article class="mt-0"
        id="autoevaluacion">

        {# Contenido de cada panel/etapa de la autoevaluacion #}

        <div
            class="card-panel card-autoevaluacion margin_autoevaluacion" id="panel_autoevaluacion">

            {# Autoanalisis #}

            <div class="contenido_panel actual" id="etapa_0">
                {% include "autoevaluacion/autoanalisis.html" %}
            </div>

            {# Preparate para ser un ganador #}

            <div hidden class="contenido_panel" id="etapa_1"></div>

            {# El lenguaje corporal no miente #}

            <div hidden class="contenido_panel" id="etapa_2"></div>

            {# Tienes un minuto #}

            <div hidden class="contenido_panel" id="etapa_3"></div>

            {# Aprendemos a negociar #}

            <div hidden class="contenido_panel" id="etapa_4"></div>

            {# Repasemos #}

            <div hidden class="contenido_panel" id="etapa_5"></div>

            {# Llego el momento #}

            <div hidden class="contenido_panel" id="etapa_6"></div>

            {# Formulario Final #}

            <div hidden class="contenido_panel" id="resultado"></div>

            {# Error - faltan actividades #}

            <div class="contenido_panel">
                <div class="card-panel" hidden id="error_etapa"></div>
            </div>

        </article>

        <div
            id="auto_options">

            {# Progress Bar #}

            <label class="right-align" for="progreso">Progreso del recorrido:<span id="mi_porcentaje">0%<span></label>

                    <div class="progress" id="progreso">
                        <div class="determinate" style="width: 0%"></div>
                    </div>

                    {# Botones para desplazarse #}

                    <div class="col s6 left-align">
                        <a class="btn waves-effect" id="prev">Anterior</a>
                    </div>

                    <div class="col s6 right-align" id="next_button">
                        <a class="btn waves-effect" id="next">Siguiente</a>
                    </div>

                    {# Botones para finalizar #}

                    <div class="col s6 right-align" id="finish_button" hidden>
                        <a class="btn waves-effect" id="finish" onclick="finalizar();">Finalizar</a>
                    </div>


                </div>

            </div>

        {% endblock %}
        {% block js %}

            {{ parent() }}

            {# JQuery UI #}

            <script src="js/jquery-ui.min.js" type="text/javascript"></script>

            {# Autoevaluacion #}

            <script src="js/autoevaluacion.js" type="text/javascript"></script>

        {% endblock %}
