<div class="ocultar" id="cod_seguridad">

    <h4 class="title_data" id="titulo">Nueva Contraseña</h4>

    <form class="valign-wrapper" id="formulario_codigo">

        <div class="row">

            <div
                class="container">

                {# Contraseña Nueva #}

                <div class="input-field col s11">
                    <input data-hidden="contraseña" id="contraseña_nueva" maxlength="30" name="contraseña_nueva" type="password">
                    <label for="contraseña_nueva">Contraseña Nueva</label>
                    <span class="helper-text">La contraseña debe ser mayor de 8 caracteres e incluir al
                                                                                                                                                                                                                                                                                                                                                                                                menos
                                                                                                                                                                                                                                                                                                                                                                                                una letra mayúscula,una letra minúscula y un número</span>
                    <span class="helper-text red-text text-lighten-2 error" id="contraseña_nueva_error"></span>
                </div>

                <div class="input-field col s1 left-align boton_input">
                    <a class="btn-floating" onclick="mostrar_ocultar_contraseña_nueva();">
                        <i class="large material-icons">remove_red_eye</i>
                    </a>
                </div>

                {# Confirmacion #}

                <div class="input-field col s12">
                    <input data-hidden="comparacion" id="comparacion" name="comparacion" type="password">
                    <label for="comparacion">Confirmar contraseña nueva</label>
                    <span class="helper-text red-text text-lighten-2 error" id="comparacion_error"></span>
                </div>

                {# Codigo de seguridad #}

                <div class="input-field col s12">
                    <div class="flow-text">Se ha enviado un codigo a su email.<br>Ingreselo a continuacion para poder realizar los cambios</div>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input class="validate" data-hidden="codigo" id="codigo" name="codigo" type="number">
                    <label for="codigo">Codigo de seguridad</label>
                    <span class="helper-text red-text text-lighten-2 error" id="codigo_error"></span>
                </div>

                <div class="input-field col s12 ocultar" id="error_codigo"></div>

            </div>

        </div>

    </form>

</div>
