{% extends "base_usuario.twig" %}

{% block content %}

    <section class="col m10 s12 offset-m1">

        <h4 class="title_margin accesible" tabindex="6">Configuraciones</h4>

        <div class="row">
            <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                <li class="tab">
                    <a id="datos_tab" class="accesible" href="#mis_datos" tabindex="6">Mis Datos</a>
                </li>
                <li class="tab">
                    <a id="editar_tab" class="accesible" href="#editar" tabindex="6">Editar</a>
                </li>
                <li class="tab">
                    <a id="seguridad_tab" class="accesible" href="#seguridad" tabindex="6">Seguridad</a>
                </li>
            </ul>
        </div>
        
        <div id="mis_datos" class="col s12">
            {% include "mis_datos.twig" %}
        </div>
        <div id="editar" class="col s12">
            {% include "editar.twig" %}
        </div>
        <div id="seguridad" class="col s12">
            {% include "seguridad.twig" %}
        </div>

    </section>

{% endblock %}

{% block js %}

    {{ parent() }}

    {# Funciones de formularios #}
    <script src="js/formulario.js" type="text/javascript"></script>

    {# Editar Perfil #}
    <script src="js/editar.js" type="text/javascript"></script>

    {# Seguridad - Cambio de contraseña #}
    <script src="js/seguridad.js" type="text/javascript"></script>

{% endblock %}
