{% extends "base_usuario.twig" %}

{% block content_title %}ENTREVISTA{% endblock %}

{% block content %}

        <article>

            {% if completado %}

                <p class="accesible" tabindex="7">
                    Se deberia mostrar la primera parte de la entrevista
                </p>

                {% else %}

                <p class="accesible" tabindex="7">
                    No puede acceder a la entrevista sin antes completar la autoevaluación
                </p>

            {% endif %}


        </article>

{% endblock %}
