{% extends "base.twig" %}

{% block content %}

    <div class="container">

        <div class="col s12 valign-wrapper altura_500">

            <div class="col s3 right-align margin-right_30">
                <i class="large material-icons">error_outline</i>
            </div>

            <div class="col s9 left-align">
                <h3>No pudo completarse el registro</h3>
                <p>Algunos de los campos ingresados son incorrectos, por favor intentelo de nuevo habilitando Javascript
                                                                                            desde su navegador</p>
                <a href="registro.php">Volver a intentar</a>

            </div>

        </div>

    </div>

{% endblock %}