{% extends "base_usuario.twig" %}

{% block content_title %}INICIO{% endblock %}

{% block content %}

        <article>

            <p class="accesible" tabindex="7">
                Nos da mucho gusto saludarte y recibirte en este espacio de aprendizaje en línea.
                Al finalizar este simulador habrás desarrollado estrategias comunicacionales más efectivas para tu entrevista laboral.
                Para comenzar te presentamos a Marcos y su historia.  Es un joven que parece preocupado, ¿por qué será?
            </p>

            <div class="col s12 m12 l4">

                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light accesible" tabindex="8">
                        <img alt="Foto de Marcos" class="activator" src="img/worried.png" >
                        <span class="sr-only">
                            Conozca su historia.
                            “Soy hipoacúsico postlocutivo. Esto quiere decir que adquirí el lenguaje pero comencé a perder gradualmente la audición hace más de 6 años. Uso un audífono en cada oído.
                                                                                                                            Esta  situación auditiva ha cambiado mi vida personal y mi situación laboral. Estoy  limitado en  muchas situaciones de interacción oral.<br>
                            Como profesional, deseo seguir avanzando en mi carrera, pero no me siento seguro a la hora de enfrentar una entrevista laboral por mi discapacidad”     
                        </span>
                    </div>
                    <div class="card-content" aria-hidden="true" focusable="false">
                        <span class="card-title activator grey-text text-darken-4">Haga click en la imagen<i class="material-icons right" aria-hidden="true" focusable="false">add</i>
                        </span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Conozca a Marcos<i class="material-icons right" aria-hidden="true" focusable="false">close</i>
                        </span>
                        <p>“Soy hipoacúsico postlocutivo. Esto quiere decir que adquirí el lenguaje pero comencé a perder gradualmente la audición hace más de 6 años. Uso un audífono en cada oído.
                                                                                                                            Esta  situación auditiva ha cambiado mi vida personal y mi situación laboral. Estoy  limitado en  muchas situaciones de interacción oral.<br>
                            Como profesional, deseo seguir avanzando en mi carrera, pero no me siento seguro a la hora de enfrentar una entrevista laboral por mi discapacidad”
                        </p>
                    </div>
                </div>

            </div>

            <div class="col s12 m12 l8">

                <p class="accesible" tabindex="9">
                    ¿Te resulta familiar esta historia?</br></br>
                    A no desanimarse porque este simulador en línea te ayudará a vencer las inseguridades a causa de tu situación auditiva.</br>
                    El material digital que te proponemos te dará las estrategias comunicacionales apropiadas a tu situación y desarrollará tu inteligencia emocional.
                    </br></br>
                    ¿Empezamos?
                </p>

            </div>

        </article>

{% endblock %}
