{% extends "base_usuario.twig" %}

{% block content_title %}MODALIDAD DE TRABAJO{% endblock %}

{% block content %}

        <article>

            <p class="accesible" tabindex="7">
                Por favor, lee con atención:<br></br>
                <i class="material-icons viñeta" aria-hidden="true" focusable="false">done</i>Para trabajar en el simulador, te aconsejamos que dispongas de un lugar tranquilo y
                tiempo suficiente para concluir una lectura, una actividad o un video. Elige el día
                y la hora más adecuados.El tiempo estimado que te debe llevar es como máximo dos semanas.</br></br>
                <i class="material-icons viñeta" aria-hidden="true" focusable="false">done</i>Es fundamental que respetes el orden en el que te presentamos el material para que lo aproveches al máximo.
                Hemos trabajado en la selección del material y estudiado el orden para que te sea lo más útil posible en
                tu proceso de aprendizaje.</br></br>
                <i class="material-icons viñeta" aria-hidden="true" focusable="false">done</i>No será conveniente saltear cualquiera de los ejercicios, lecturas o videos. Si te presentan alguna
                dificultad es preferible que dejes tu trabajo en el simulador para otro momento, si en esa oportunidad no cuentas con el tiempo
                suficiente para dedicarle. Es nuestro deseo que te comprometas en esta preparación como nos comprometimos nosotros en diseñarla.<br></br>
                <i class="material-icons viñeta" aria-hidden="true" focusable="false">done</i>A medida que  recorras el simulador, las actividades interactivas te darán el resultado de tu desempeño y una
                retroalimentación para tengas en cuenta si decides repetir la práctica. 
                La repetición es muy recomendable para fijar los conocimientos.<br></br>
                Ahora sí, ¡ adelante !
            </p>

        </article>

{% endblock %}
