{% extends "base_usuario.twig" %}

{% block content %}

    <section class="col s10 offset-s1">

        <h4 class="title_margin accesible" tabindex="6">Modalidad de Trabajo</h4>

        <article class="article_margin texto_page">

            <p class="accesible" tabindex="7">
                Por favor, lee con atención:
                Para trabajar en el simulador, te aconsejamos que dispongas de un lugar tranquilo y
                tiempo suficiente para concluir una lectura, una actividad o un video. Elige el día
                y la hora más adecuados.
                El tiempo estimado que te debe llevar es como máximo dos semanas.</br></br>
                Es fundamental que respetes el orden en el que te presentamos el material para que lo aproveches al máximo.</br></br>
                Hemos trabajado en la selección del material y estudiado el orden para que te sea lo más útil posible en
                tu proceso de aprendizaje.</br></br>
                No será conveniente saltear cualquiera de los ejercicios, lecturas o videos. Si te presentan alguna
                dificultad es preferible que dejes tu trabajo en el simulador para otro momento, si en esa oportunidad no cuentas con el tiempo
                suficiente para dedicarle.</br></br>
                Es nuestro deseo que te comprometas en esta preparación como nos comprometimos nosotros en diseñarla.<br></br>
                A medida que  recorras el simulador, se te informará
                las actividades interactivas te darán el resultado de tu desempeño y una
                retroalimentación para tengas en cuenta si decides repetir la práctica. 
                La repetición es muy recomendable para fijar los conocimientos.<br></br>
                Ahora sí, ¡ adelante !
            </p>

        </article>

    </section>

{% endblock %}
