{% extends "base.twig" %}

{% block main %}

    {# Recuperar #}

    <div
        class="col s12 m8 l4 offset-m2 offset-l4">

        {# Encabezado Recuperar #}

        <div class="row">
            <h5 class="center-align">Recuperar contraseña</h5>
        </div>

        <div
            class="card-panel white z-depth-1">

            {# Formulario Correo #}

            <form id="formulario_recuperar" onsubmit="return validar_recuperar();">

                <div class="row">
                    <h5 class="center-align">Ingrese su correo para solicitar un cambio de contraseña</h5>
                </div>

                <div class="row m-0">

                    <fieldset>

                        <legend class="sr-only">Formulario de recuperación de contraseña - Ingreso de correo</legend>

                        {# Mensaje del formulario #}

                        <div class="input-field col s12 mb-2 accesible" id="mensaje_recuperar" tabindex="6" hidden></div>

                        {# Correo #}

                        <div class="input-field col s12">
                            <i class="material-icons prefix">mail</i>
                            <input class="validate" data-hidden="correo" id="correo" name="correo" type="text">
                            <label for="correo">Correo</label>
                            <span class="helper-text">El correo debe ser el correspondiente a su cuenta</span>
                            <span class="helper-text red-text text-lighten-2 error" id="correo_error"></span>
                        </div>

                    </fieldset>

                    {# Boton de Recuperar #}

                    <div class="input-field col s12">
                        <div class="right-align">
                            <button id="recuperar_button" class="btn waves-effect waves-light accesible" id="recuperar_button" name="submit" type="submit">
                                Solicitar<i class="material-icons right" aria-hidden="true" focusable="false">send</i>
                            </button>
                        </div>
                    </div>

                </div>

            </form>

            {# Formulario Codigo #}

            <form id="formulario_codigo" onsubmit="return validar_codigo();" hidden>

                <fieldset>

                    <legend class="sr-only">Cambio de contraseña - Confirmación</legend>

                    {# Mensaje de Error #}

                    <div class="input-field col s12 ocultar accesible" id="mensaje_codigo" tabindex="6"></div>

                    <input id="correo_replik" name="correo" type="hidden">

                    <div class="input-field col s12">
                        <h5>Nueva Contraseña</h5>
                    </div>

                    {# Contraseña Nueva #}

                    <div class="input-field col s11">
                        <input aria-describedby="ayuda_contraseña" aria-required="true" class="validate accesible" data-hidden="contraseña" id="contraseña_nueva" maxlength="30" name="contraseña_nueva" type="password" tabindex="7">
                        <label for="contraseña_nueva">Ingrese una contraseña nueva</label>
                        <span class="helper-text" id="ayuda_contraseña">La contraseña debe ser mayor de 8 caracteres e incluir al
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    menos
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    una letra mayúscula,una letra minúscula y un número</span>
                        <span class="helper-text red-text text-lighten-2 error" id="contraseña_nueva_error"></span>
                    </div>

                    <div class="input-field col s1 left-align boton_input">
                        <button aria-label="Mostrar/ocultar contraseña" class="btn-floating accesible" onclick="mostrar_ocultar_contraseña_nueva();" tabindex="8" type="button">
                            <i aria-hidden="true" class="large material-icons" focusable="false">remove_red_eye</i>
                        </button>
                    </div>

                    {# Confirmacion #}

                    <div class="input-field col s12">
                        <input aria-required="true" class="validate accesible" data-hidden="comparacion" id="comparacion" name="comparacion" tabindex="9" type="password">
                        <label for="comparacion">Repita su contraseña nueva</label>
                        <span class="helper-text red-text text-lighten-2 error" id="comparacion_error" role="alert"></span>
                    </div>

                    {# Codigo de seguridad #}

                    <fieldset>

                        <legend class="sr-only">Código de seguridad</legend>

                        <div class="input-field col s12">
                            <h5>Se ha enviado un codigo a su email.<br>Ingreselo a continuacion para poder realizar los cambios.</h5>
                        </div>

                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input aria-describedby="ayuda_codigo" aria-required="true" class="validate accesible" data-hidden="codigo" id="codigo" name="codigo" type="number" tabindex="10">
                            <label for="codigo">Codigo de seguridad</label>
                            <div class="sr-only" id="ayuda_codigo">Se ha enviado un codigo a su email.Ingreselo a continuacion para poder realizar los cambios.</div>
                            <span class="helper-text red-text text-lighten-2 error" id="codigo_error"></span>
                        </div>

                    </fieldset>

                </fieldset>

                {# Boton para aplicar el cambio #}

                <div class="right-align">
                    <button class="btn waves-effect waves-green accesible" id="codigo_button" name="action" type="submit">
                        <i aria-hidden="true" class="material-icons right" focusable="false">check</i>Aplicar cambio
                    </button>
                </div>

            </form>

        </div>

    </div>


{% endblock %}

{% block js %}

    {{ parent() }}

    {# Funciones de los formularios #}
    <script src="js/formulario.js" type="text/javascript"></script>

    {# Validaciones #}
    <script type="text/javascript" src="js/recuperar.js"></script>

{% endblock %}
